<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
   <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>com.mvc.DoctorRegisterController</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/reg</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>com.mvc.DoctorLoginController</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/doctor_login</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>third</servlet-name>
    <servlet-class>com.mvc.PatientRegisterController</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>third</servlet-name>
    <url-pattern>/patient_register</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>fourth</servlet-name>
    <servlet-class>com.mvc.PatientLoginController</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>fourth</servlet-name>
    <url-pattern>/patient_login</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>dupdate</servlet-name>
    <servlet-class>com.mvc.DoctorUpdateController</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>dupdate</servlet-name>
    <url-pattern>/doctor_update</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>pupdate</servlet-name>
    <servlet-class>com.mvc.PatientUpdateController</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>pupdate</servlet-name>
    <url-pattern>/patient_update</url-pattern>
   </servlet-mapping>
   
   <servlet>
		<servlet-name>appoint</servlet-name>
		<servlet-class>com.kims.AppointmentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>appoint</servlet-name>
		<url-pattern>/apply_appointment</url-pattern>
	</servlet-mapping>
</web-app>